# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz

# JetBrains
.idea/

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

#secure information
db_credentials.json