<link rel="stylesheet" type="text/css" href="stylesheets/navbar.css" />

<nav class="navbar navbar-static-top navbar-expand-sm bg-light">

    <!-- Navbar text-->
    <span class="navbar-text">
        Event Manager
    </span>

    <!-- LINKS -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/eventList">View Events</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/createRSO">Create RSO</a>
        </li>

        <% if (isAdmin || isSuperAdmin) { %>
            <div class="admin">
                <li class="nav-item">
                    <a class="nav-link" href="/createEvent">Add Event</a>
                </li>
            </div>
        <% } %>

        <% if (isSuperAdmin) { %>
            <div class="superadmin">
                <li class="nav-item">
                    <a class="nav-link" href="/createUni">Add University</a>
                </li>
            </div>
        <% } %>

    </ul>
    <!-- END LINKS -->

    <!-- LOGOUT BUTTON -->
    <ul class="nav navbar-nav">
        <li><button id="logout" class="btn btn-dark" type="submit">Logout</button></li>
    </ul>

</nav>
