<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- /BOOTSTRAP -->

    <link rel="stylesheet" type="text/css" href="stylesheets/createRSO.css" />
    <title>Join an RSO</title>
</head>

<body>

<!-- NAVBAR -->
<% include ./_navbar.ejs %>

<div id="RSOform" class="container.fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
            <h2>Join a Registered Student Organization</h2>

            <!-- BEGIN JOIN RSO FORM -->
            <form method="POST" action="/createRSO/join">

                <label for="uniName">Join Existing Organization: </label>
                <div class="form-group">
                    <select class="form-control" name="RSOid">
                        <option disabled selected>Select RSO</option>
                        <%for (var i in RSOs) {%>
                            <option value="<%= RSOs[i].id %>"><%= RSOs[i].name %></option>
                        <%}%> 
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
            <!-- END JOIN RSO FORM -->

            <h2 id="createRSO">Create a Registered Student Organization</h2>

            <!-- BEGIN CREATE RSO FORM -->
            <form method="POST" action="/createRSO/create">

                <div class="form-group">
                    <label for="uniName">Organization Name: </label>
                    <input type="text" class="form-control" id="RSOName" name="rsoName">
                </div>

                <div class="form-group">
                        <label for="uniName">Organization Type: </label>
                        <input type="text" class="form-control" id="RSOType" name="rsoType">
                </div>

<!--                <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" value="admin" id="adminCheck" name="isAdmin">-->
<!--                        <label class="form-check-label" for="adminCheck">-->
<!--                            Admin?-->
<!--                        </label>-->
<!--                </div>-->

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- END CREATE RSO FORM -->

        </div>
        <div class="col-md-2"></div>
    </div>
</div>


</body>
