<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- /BOOTSTRAP -->

    <link rel="stylesheet" type="text/css" href="stylesheets/createEvent.css" />
</head>

<body>

<!-- NAVBAR -->
<% include ./_navbar.ejs %>

<div id="eventForm" class="container.fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h2>Create Event</h2>

            <!-- BEGIN FORM -->
            <form method="POST" action="/createEvent">

                <div class="form-group">
                    <label for="eventName">Event Name: </label>
                    <input type="text" class="form-control" id="eventName" name="eventName">
                </div>

                <div class="form-group">
                        <label for="eventDes">Event Description: </label>
                        <input type="text" class="form-control" id="eventDes" name="eventDes">
                </div>

                <div class="form-group">
                        <label for="eventCategory">Event Category: </label>
                        <input type="text" class="form-control" id="eventCategory" name="eventCategory">
                </div>

                <div class="form-group">
                    <label for="eventDes">Event Visibility: </label>
                    <select class="custom-select" name="eventVisibility">
                        <option selected>Select </option>
                        <option value="public">Public Event</option>
                        <option value="private">Private Event</option>
                        <option value="rso">RSO Event</option>
                      </select>
                </div>

                <div class="form-group">
                        <label for="time">Time: </label>
                        <input type="time" class="form-control" id="time" name="eventTime">
                </div>

                <div class="form-group">
                        <label for="date">Date: </label>
                        <input type="date" class="form-control" id="date" name="eventDate">
                </div>

                <!-- Begin Google Maps Support -->
                <div class="form-group">
                    <label for="location">Location: </label>
                    <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>"></script>
                    <div id="map-canvas"></div>
                    <label for="location">Location Name: </label>
                    <input type="text" class="form-control" id="locName" name="locName">
                    <input type="text" class="form-control" id="locLat" name="locLat" style="display:none">
                    <input type="text" class="form-control" id="locLong" name="locLong" style="display:none">
                </div>
                 <!-- End Google Maps Support -->

                <div class="form-group">
                        <label for="phoneNum">Contact Phone: </label>
                        <input type="tel" class="form-control" id="phoneNum" name="phoneNum">
                </div>

                <div class="form-group">
                        <label for="email">Contact E-Mail: </label>
                        <input type="email" class="form-control" id="email" name="email">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- END FORM -->

        </div>
        <div class="col-md-2"></div>
</div>

<script>

    /* Begin Javscript for Google Maps */
    var marker, lat, lng;

    function initialize() {
        var myLatLng = new google.maps.LatLng( 28.602717, -81.200043 ),
            myOptions = {
                zoom: 10,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
                },
            map = new google.maps.Map( document.getElementById( 'map-canvas' ), myOptions );
            marker = new google.maps.Marker( {position: myLatLng, map: map, draggable: true} );
            google.maps.event.addListener(marker, 'dragend', update);

        marker.setMap( map );
    }

    function update() {
        var path = marker.getPosition();
        lat = path.lat();
        lng = path.lng()
        alert("Lat: " + lat + "\nLon: " + lng);
        $("#locLat").val(lat);
        $("#locLong").val(lng);
    }

    initialize();
    /* End Javscript for Google Maps */

</script>




</body>
